<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    {% include 'cdnlines.html' %}
  </head>
  <body>
    <div class="Container-fluid">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <h1 class="text-center">Contact Form</h1>
          <form method="post">
            {% csrf_token %}
            <label>First Name: </label>
            <input type="text" class="form-control" name="fname">
            <label>Last Name: </label>
            <input type="text" class="form-control" name="lname">
            <label>Age: </label>
            <input type="number" class="form-control" name="age">
            <label>Mobile Number: </label>
            <input type="number" class="form-control" name="mobile">
            <label>Email Id: </label>
            <input type="email"  class="form-control" name="email">
            <label>Qualification: </label>
            <input type="text" class="form-control" name="qualification">
            <label>Percentage: </label>
            <input type="number" class="form-control" name="percentage">
            <label>Passed Out Year: </label>
            <input type="number" class="form-control" name="passedoutyear">
            <label>College Name: </label>
            <input type="text" class="form-control" name="college">
            <label>Location: </label>
            <input type="text" class="form-control" name="location">
            <div class="text-center mt-3">
              <input type="Submit"  value="Submit" class="btn btn-success">
              <input type="Reset"  value="Cancel" class="btn btn-danger">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
